{% extends "base.html" %}
{% load i18n %}

{% block content %}
<!--<form method="post" action=".">-->
  <!--{% csrf_token %} -->
  <!--{{ form.as_p }}-->

  <!--<input type="submit" value="{% trans 'Submit' %}" />-->
<!--</form>-->



<p align="center"><font size="5">
    Forgot your password? Enter your email in the form below and we'll send you
    instructions for creating a new one.
  </font></p>

<div class="row">
    <form method="POST" action="." class="col s6">{% csrf_token %}

      <input type="hidden" name="csrfmiddlewaretoken" value="{{ csrf_token }}">

      <div class="row">
        <div class="input-field col s12">
          <input id="id_username" type="text" name="username" class="validate" maxlength="254">
          <label for="id_username">Email:</label>
        </div>
      </div>

      <div class="row">
        <div class="col offset s6">
          <button class="btn waves-effect waves-light blue darken-1" type="submit">Submit
                <i class="mdi-content-send right white-text"></i>
          </button>
        </div>
      </div>
    </form>

</div>
{% endblock %}
