{% load staticfiles %}

<head>
<!--  CSS  -->
    <script src="{% static 'min/plugin-min.js' %} "></script>
    <script src="{% static 'min/custom-min.js' %} "></script>

    <link href="{% static 'min/plugin-min.css' %} " rel="stylesheet">
    <link href="{% static 'min/custom-min.css' %} " rel="stylesheet" >
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<!--  Scripts  -->
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="{% static 'js/materialize.min.js' %}"></script>
    <script>
         $(document).ready(function() {
            $('select').material_select();
        });
    </script>
</head>






