{% extends 'base.html' %}
{% block title %}
  Edit {{ thing.first_name|title }}&nbsp;{{ thing.last_name|title }} {{ block.super }}
{% endblock %}
{% block content %}
<h1>Edit {{ thing.first_name|title }}&nbsp;{{ thing.last_name|title }}</h1>


<form class="col s12" role="form" action="" method="post">{% csrf_token %}
      <div class="row">
          <div class="input-field col s12">
            <input  value="{{ thing.first_name }}"   name="first_name" type="text" class="validate black-text" >
            <label  class="black-text">First Name :</label>
          </div>

          <div class="input-field col s12">
            <input value="{{ thing.last_name }}" name="last_name" type="text" class="validate black-text" >
            <label  class="black-text">Last Name :</label>
          </div>

          <div class="input-field col s12">
            <input value="{{ thing.pan }}" name="pan" type="text" class="validate black-text" maxlength="10">
            <label  class="black-text">PAN :</label>
          </div>

          <div class="input-field col s12">
            <input value="{{ thing.phone }}" name="phone" type="text" class="validate black-text" maxlength="10">
            <label  class="black-text">Phone :</label>
          </div>

          <div class="input-field col s12">
            <input value="{{ thing.dob }}" type="date" name="dob" class="datepicker">
            <!--<input  name="dob" type="text" class="validate black-text" >-->
            <label  class="black-text">Date Of Birth :</label>
          </div>

          <div class="col offset-s7 s5">
            <button class="btn waves-effect waves-light red darken-1" type="submit">Save
                <i class="mdi-content-send right white-text"></i>
            </button>
          </div>

    </div>
</form>

<script>
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 90, // Creates a dropdown of 15 years to control year
    format: 'dd-mm-yyyy' });
</script>

{% endblock %}
